

<nav  class="navbar bg-black border-bottom border-body" data-bs-theme="dark">
<div id ="con_fluid"class="container-fluid">
  
  
  
  <h1 id="main_text"><%= country %>  weather </h1>


<div class="dropdown">
    <button id="Norte" class="btn btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Región Norte
    </button>
    <ul class="dropdown-menu navbar-brand">
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Dajabón')">Dajabón</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Duarte')">Duarte</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Espaillat')">Espaillat</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Hermanas Mirabal')">Hermanas Mirabal</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic La Vega')">La Vega</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic María Trinidad Sánchez')">María Trinidad Sánchez</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Monseñor Nouel')">Monseñor Nouel</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Montecristi')">Montecristi</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Puerto Plata')">Puerto Plata</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Santiago')">Santiago</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Santiago Rodríguez')">Santiago Rodríguez</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Valverde')">Valverde</a></li>
    </ul>
  
  
    <button id="sur" class="btn btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Región Sur
    </button>
    <ul class="dropdown-menu navbar-brand">
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Azua')">Azua</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Bahoruco')">Bahoruco</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Barahona')">Barahona</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Elias Piña')">Elías Piña</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Independencia')">Independencia</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Pedernales')">Pedernales</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Peravia')">Peravia</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic San Cristóbal')">San Cristóbal</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic San José de Ocoa')">San José de Ocoa</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic San Juan')">San Juan</a></li>
    </ul>
  
  
  
    <button id="Este" class="btn btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Región Este
    </button>
    <ul class="dropdown-menu navbar-brand">
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Distrito Nacional')">Distrito Nacional</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic El Seibo')">El Seibo</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Hato Mayor')">Hato Mayor</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Higuey')">Higuey</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic La Romana')">La Romana</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Monte Plata')">Monte Plata</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic San Pedro de Macorís')">San Pedro de Macorís</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Sánchez Ramírez')">Sánchez Ramírez</a></li>
      <li><a class="dropdown-item" href="#" onclick="fetchweather('dominican republic Santo Domingo')">Santo Domingo</a></li>
    </ul>
  </div>



</div>

</nav>
