<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Provincias de la República Dominicana</title>

    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        async function fetchweather(city ="dominican republic santiago") {
  try {
    const response = await axios.get("http://api.weatherapi.com/v1/current.json", {
      params: {
        key: "56eabba0c52d4590a92232747240612",
        q: city,
        aqi: "yes"
      }
    });



    console.log(response.data);
    document.getElementById('weather_info').innerHTML = `
                    <p><strong>City:</strong> ${response.data.location.name}</p>
                    <p><strong>Temperature:</strong> ${response.data.current.temp_c} °C</p>
                    <p><strong>Condition:</strong> ${response.data.current.condition.text}</p>
                    <p><strong>Wind speed kph:   </strong>${response.data.current.wind_kph}<p>

                    <img src="${response.data.current.condition.icon}" alt="Ícono del clima">`


    
  } catch (error) {
    console.error("Error al obtener los datos del clima:", error);
  }
}

window.fetchweather = fetchweather;
fetchweather()

</script>





</head>
<body>
    <main>
        <h1 id="main_text">The weather of  <%= country %> </h1>
        <%- include('partials/buttons') %>
       
    </main>

    <div id="weather_info">

    </div>

      <a href="https://www.windy.com/?19.204,-69.752,8,m:ecraedK"><h2 class="h2">Use windy for more information</h2></a>
    </div>

    
</body>
</html>