
body{
    background-color: white;
}

h1{
    color: white;
}

#weather_info{
    margin-top: 110px;
}

footer {
    color: white;
    text-decoration: none;
    background-color:black; 
    position: fixed;
    bottom: 0; 
    left: 0; 
    width: 100%; 
}

head{
    background-color: black;
}

@media (max-width:768px){
    #weather_info{
       margin-top: 100px;
       
    }
    #Este{
        margin-top: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1080px) { 
    #weather_info{
        margin-top: 200px;
    }
}

a{
    text-decoration: none;
    color: white;
}