
<section class="provincias">
    <button >Azua</button>
    <button >Bahoruco</button>
    <button >Barahona</button>
    <button >Dajabón</button>
    <button >Distrito Nacional</button>
    <button >Duarte</button>
    <button >El Seibo</button>
    <button >Elias Piña</button>
    <button >Espaillat</button>
    <button >Hato Mayor</button>
    <button >Hermanas Mirabal</button>
    <button >Independencia</button>
    <button >La Altagracia</button>
    <button >La Romana</button>
    <button >La Vega</button>
    <button >María Trinidad Sánchez</button>
    <button >Monseñor Nouel</button>
    <button >Monte Plata</button>
    <button >Montecristi</button>
    <button >Pedernales</button>
    <button >Peravia</button>
    <button >Puerto Plata</button>
    <button >Samaná</button>
    <button >San Cristóbal</button>
    <button >San José de Ocoa</button>
    <button >San Juan</button>
    <button >San Pedro de Macorís</button>
    <button >Sánchez Ramírez</button>
    <button onclick="fetchweather('dominican republic santiago')">Santiago</button>
    <button >Santiago Rodríguez</button>
    <button >Santo Domingo</button>
    <button >Valverde</button>
</section>