
<section class="provincias">

    <button onclick="fetchweather('dominican republic Azua')">Azua</button>
    <button onclick="fetchweather('dominican republic Bahoruco')">Bahoruco</button>
    <button onclick="fetchweather('dominican republic Barahona')">Barahona</button>
    <button onclick="fetchweather('dominican republic Dajabón')">Dajabón</button>
    <button onclick="fetchweather('dominican republic Distrito Nacional')">Distrito Nacional</button>
    <button onclick="fetchweather('dominican republic Duarte')">Duarte</button>
    <button onclick="fetchweather('dominican republic El Seibo')">El Seibo</button>
    <button onclick="fetchweather('dominican republic Elias Piña')">Elias Piña</button>
    <button onclick="fetchweather('dominican republic Espaillat')">Espaillat</button>
    <button onclick="fetchweather('dominican republic Hato Mayor')">Hato Mayor</button>
    <button onclick="fetchweather('dominican republic Hermanas Mirabal')">Hermanas Mirabal</button>
    <button onclick="fetchweather('dominican republic Independencia')">Independencia</button>
    <button onclick="fetchweather('dominican republic La Altagracia')">La Altagracia</button>
    <button onclick="fetchweather('dominican republic La Romana')">La Romana</button>
    <button onclick="fetchweather('dominican republic La Vega')">La Vega</button>
    <button onclick="fetchweather('dominican republic Maria Trinidad Sanchez')">María Trinidad Sánchez</button>
    <button onclick="fetchweather('dominican republic Monseñor Nouel')">Monseñor Nouel</button>
    <button onclick="fetchweather('dominican republic Monte Plata')">Monte Plata</button>
    <button onclick="fetchweather('dominican republic Montecristi')">Montecristi</button>
    <button onclick="fetchweather('dominican republic Pedernales')">Pedernales</button>
    <button onclick="fetchweather('dominican republic Peravia')">Peravia</button>
    <button onclick="fetchweather('dominican republic Puerto Plata')">Puerto Plata</button>
    <button onclick="fetchweather('dominican republic Samaná')">Samaná</button>
    <button onclick="fetchweather('dominican republic San Cristóbal')">San Cristóbal</button>
    <button onclick="fetchweather('dominican republic San José de Ocoa')">San José de Ocoa</button>
    <button onclick="fetchweather('dominican republic San Juan')">San Juan</button>
    <button onclick="fetchweather('dominican republic San Pedro de Macorís')">San Pedro de Macorís</button>
    <button onclick="fetchweather('dominican republic Sanchez Ramírez')">Sánchez Ramírez</button>
    <button onclick="fetchweather('dominican republic santiago')">Santiago</button>
    <button onclick="fetchweather('dominican republic Santiago Rodríguez')">Santiago Rodríguez</button>
    <button onclick="fetchweather('dominican republic Santo Domingo')">Santo Domingo</button>
    <button onclick="fetchweather('dominican republic Valverde')">Valverde</button>
</section>